.container-cart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bubble-counter{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(18, 112, 150);
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}